p {
  font-size: 15px;
}

h1 {
  font-size: 20px;
  color: #296EB4
}

input {
  margin-top: 5px;
  width: 400px;
}

.top {
  text-align: center;
  font-size: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  display: block;
  width: 100%;
  height: 1000px;
  border: 5px #B1740F;
  display: grid;
  background-color: #B1740F;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.pic2 {
  display: block;
  width: 100%;
}

.empty {
  margin-top: 50px;
}

.empty1 {
  margin-top: 20px;
}

.para1 {
  text-align: center;
  font-size: 25px;
  color: #A1690E;
}

.para2 {
  text-align: center;
  font-size: 25px;
  color: #A1690E;
}

#input {
  -moz-appearance: textbox;
  -webkit-appearance: textbox;
  background-color: #939374;
  background-color: #939374;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  margin-top: 5px;
  padding: 2px 3px;
  width: 300px;
}